.ant-tabs {
  .ant-tabs-nav {
    &::before {
      border-bottom: 3px solid #d9d9d9 !important;
    }
  }
  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    height: 3px !important;
  }
}

.draw-lg {
  .ant-drawer-content-wrapper {
    width: 100% !important;
    max-width: 1020px;
  }
}

// .form-two-col {
//   .ant-form-item-label {
//     min-width: 100px;
//   }
// }
.form-two-col {
  .ant-form-item-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ant-form-item-control {
      width: 100%;
      flex: auto;
    }
  }
}

.form-one-col {
  .ant-form-item-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ant-form-item-control {
      width: 100%;
      flex: auto;
    }
  }
}
